# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - main

variables:
  - group: aacia-kv-group
    name: aacia-azure-subscription
    value: $[variables.subscription]
  webAppName: 'a2-check-in'
  environmentName: 'a2-check-in-UI'

stages:
  - stage: Build
    displayName: Build stage
    jobs:
      - job: Build
        displayName: Build
        pool: local-host

        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '18.x'
            displayName: 'Install Node.js'
          - script: npm install --omit=prod
            displayName: 'npm install'
          - script: npm run build:dev
            displayName: 'npm build'
          - task: ArchiveFiles@2
            displayName: 'Archive files'
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build/'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
              replaceExistingArchive: true

          - upload: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
            artifact: drop

  - stage: Deploy
    displayName: Deploy stage
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: Deploy
        displayName: Deploy
        pool: local-host
        environment: $(environmentName)
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureRmWebAppDeployment@4
                  inputs:
                    ConnectionType: 'AzureRM'
                    azureSubscription: $(subscription)
                    appType: 'webApp'
                    WebAppName: 'a2-check-in'
                    deployToSlotOrASE: true
                    ResourceGroupName: 'MiA2Code-AACIA'
                    SlotName: 'production'
                    packageForLinux: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'
                    startUpCommand: 'pm2 serve /home/site/wwwroot --spa --no-daemon'
